.container {
    background-image: url('../../assets/image-dolar.png');
    background-repeat: no-repeat;       /* Evita repetição da imagem */
    background-size: cover;             /* Faz a imagem cobrir todo o container */
    background-position: center;

    padding-bottom: 50px;
}