.container {
    width: 100%;
    height: auto;

    padding: 40px 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container img {
    width: 30%;
    height: auto;
}

.container .description {
    width: 40%;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container .description h2 {
    font-size: 35px;
    font-size: 600;

    color: var(--text-color-white);
}

.container .description > div {
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  color: #fff;
}

.container .description > div strong {
  background: var(--gradient-orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1100px) {
    .container img {
        width: 40%;
    }

    .container .description {
        width: 50%;
    }
}

@media screen and (max-width: 901px) {
    .container {
        padding: 40px 50px;
    }

    .container .description h2 {
        font-size: 30px;
    }

    .container .description p {
        font-size: 16px;
    }
}

@media screen and (max-width: 579px) {
    .container {
        padding: 40px 20px;

        flex-direction: column;
        gap: 50px;
    }

    .container .description {
        width: 100%;
    }

    .container .description h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 441px) {
    .container .description h2 {
        font-size: 25px;
    }

    .container .description p {
        line-height: 140%;
    }
}