.container {
    width: 100%;

    display: flex;
    gap: 10px;
    align-items: center;
}

.container img {
    width: 24px;
    height: 24px;
}


.container p {
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width: 579px) {
    .container p {
        font-size: 16px;
    }
}