.container{
    width: 100%;

    padding-block: 15px;
    
    overflow: hidden; /*esconde o que passar da div */

    display: flex;

    background: var(--gradient-orange);
}

.slider {
    display: flex;
    
    width: max-content;
    
    animation: scroll 15s linear infinite;
}

.image {
    width: 600px;

    flex-shrink: 0;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}