.container {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container img {
    width: 600px;
    height: auto;
}

@media screen and (max-width: 579px) {
    .container img {
        width: 400px;
    }
}

@media screen and (max-width: 391px) {
    .container img {
        width: 300px;
    }
}